registry=https://registry.npmjs.org
@nara:registry=http://35.221.123.58:80/repository/npm-private/
@nara.drama:registry=http://35.221.123.58:80/repository/npm-private/

//35.221.123.58:80/repository/npm-private/:_authToken=NpmToken.e4b7aa5f-ed7a-3b60-a567-f10406ad3bd6

strict-ssl=false
always-auth=false
network-timeout=100000
